*{
	box-sizing:border-box;
}
html,body{
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	display:flex;
	flex-direction:column;
	min-height:100vh;
	font:normal 16px/1.5 FuturaPT;
	color:#535352;
	min-width:480px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header,footer{
	flex:0 0 auto;
}
main{
	flex-grow:1;
}
ul,ol{
	list-style-position:inside;
	padding:0;
	margin:1em 0;
}
ul ul,
ul ol,
ol ul,
ol ol{
	margin:0 0 0 1em;
}
input[type="text"], input[type="email"], input[type="tel"] {
    font-size: 14px;
    font-family: FuturaPT;
    font-weight: 300;
    color: #535352;
    padding: 7px 14px;
    border: 2px solid #eee;
}
button {
    border: none;
    background-color: #7e57c2;
    padding: 11px 14px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-family: FuturaPT;
    text-align: center;
}
.wrapper{
	max-width:1200px;
	padding:0 15px;
	margin:0 auto;
}

/*Header*/
header {
    background-color: #f8f8f8;
    border-bottom: 2px solid #eeeeee;
}
.logo {
    display: inline-block;
    vertical-align:middle;
    height: 24px;
}
.top-menu {
	display:inline-block;
	list-style: none;
	margin:0 0 0 56px;
	vertical-align:middle;
	font-size:14px;
	font-weight:300;
}
.top-menu li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 13px;
	border-bottom: 2px solid transparent;
	margin-bottom: -2px;
}
.top-menu li.current,
.top-menu li:hover,
.top-menu li.active {
	border-bottom: 2px solid #7e57c2;
}
.top-menu li a{
	display: block;
	padding: 34px 0 22px;
	text-decoration: none;
	font-weight: 700;
	color: #7e57c2;
}
.geo {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 -10px 40px;
    padding-left: 17px;
    background: url(../img/geo-icon.png) no-repeat center left;
}
.geo select {
	border: 1px solid #111;
	background: transparent;
	padding: 0px 20px 0px 5px;
	border: none;
	font-size: 14px;
	font-family: FuturaPT;
	font-weight: 700;
	color: #7e57c2;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../img/geo-arrow.png) 96% 55% / 8% no-repeat transparent;
	outline: none;
}
/* CAUTION: IE hackery ahead */
select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}
.socials {
    display: block;
    margin-left: auto;
    margin-right: 0;
    float: right;
    margin-top: 27px;
}
.socials a {
    display: inline-block;
    width: 25px;
    height: 24px;
    margin: 0 6px;
    border-radius: 50%;
}
.socials a:hover {
	opacity: .7;
}
.socials a:first-child {
	margin-left: 0;
}
.socials a:last-child {
	margin-right: 0;
}
.social-vk {
	background: url(../img/vk-icon.svg) no-repeat center center;
	background-size: cover;
}
.social-fb {
	background: url(../img/fb-icon.svg) no-repeat center center;
	background-size: cover;
}
.social-ok {
	background: url(../img/ok-icon.svg) no-repeat center center;
	background-size: cover;
}
.social-tw {
	background: url(../img/tw-icon.svg) no-repeat center center;
	background-size: cover;
}
.social-vb {
	background: url(../img/vb-icon.svg) no-repeat center center;
	background-size: cover;
}
.social-wt {
	background: url(../img/wt-icon.svg) no-repeat center center;
	background-size: cover;
}
.social-tg {
	background: url(../img/tg-icon.svg) no-repeat center center;
	background-size: cover;
}

/*Breadcrumbs*/
.breadcrumbs {
	font-weight: 100;
	font-size: 12px;
	padding-top: 18px;
	padding-bottom: 14px;
}
.breadcrumbs i {
    margin: 0 8px;
}
.breadcrumbs a {
    color: #7e57c2;
    text-decoration: none;
}

/*Side bar*/
.aside-wrapper {
    display: flex;
    align-items: flex-start;
    padding-top: 18px;
    padding-bottom: 30px;
}
aside {
    width: 270px;
    flex: 0 0 auto;
    margin-right: 30px;
}
.aside-item {
	margin-bottom: 30px;
}
.aside-title {
	background-color: #7e57c2;
	margin: 0;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	padding: 12px 23px;
	text-align: center;
}
.catalog-aside .aside-title {
	padding: 12px 34px 12px 50px;
	background: #7e57c2 url(../img/catalog-icon.svg) no-repeat 20px center;
	text-align: left;
}
.currency-aside .aside-title {
	background: #7e57c2 url(../img/currency-icon.svg) no-repeat 30px center;
	padding-left: 50px;
}
.catalog-aside .aside-title a {
    display: inline-block;
    float: right;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
}
.aside-body {
	border-left: 2px solid #eee;
	border-right: 2px solid #eee;
	border-bottom: 2px solid #eee;
	padding: 16px 19px;
}
.aside-body.selected {
	border: 2px solid #7e57c2;
}
.catalog-aside .aside-body {
	padding: 21px 28px;
}
.catalog-aside ul {
	margin: 0;
	list-style: none;
}
.catalog-aside ul a {
	color: #535352;
	font-size: 14px;
	display: block;
	padding: 7px 0;
	text-decoration: none;
}
.catalog-aside ul li.current a,
.catalog-aside ul a:hover {
	color: #7e57c2;
}
.catalog-aside ul a > span {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 28px;
    margin-right: 30px;
    text-align: center;
}
.catalog-aside ul a > span img {
	vertical-align: middle;
}
.currency-aside .aside-body{

}
.currency-item {
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
}
.currency-item span {
    width: 33%;
    color: #7e57c2;
    font-size: 14px;
    font-weight: 700;
}
.currency-item span.negative {
	font-weight: 300;
	color: #ff4845;
}
.currency-item span.positive {
	font-weight: 300;
	color: #bfff75;
}
.aside-form h3 {
    margin: 0;
    margin-bottom: 5px;
    line-height: 20px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #7e57c2;
}
form.aside-form input {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
form.aside-form button {
    margin-top: 18px;
    width: 100%;
}

/*Footer*/
footer {
    background-color: #7e57c2;
}
.bottom-menu {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin-top: 26px;
    margin-bottom: 10px;
}
.bottom-menu li {
    display: inline-block;
    margin: 0 10px;
}
.bottom-menu li:first-child {
	margin-left: 0;
}
.bottom-menu li:last-child {
	margin-right: 0;
}
.bottom-menu li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	font-weight: 700;
}
.copyright {
    font-size: 12px;
    color: #fff;
    font-weight: 100;
    margin-bottom: 12px;
}