*{
	box-sizing:border-box;
}
html,body{
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	display:flex;
	flex-direction:column;
	min-height:100vh;
	font:normal 16px/1.5 FuturaPT;
	color:#535352;
	min-width:480px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header,footer{
	flex:0 0 auto;
}
main{
	flex-grow:1;
}
ul,ol{
	list-style-position:inside;
	padding:0;
	margin:1em 0;
}
ul ul,
ul ol,
ol ul,
ol ol{
	margin:0 0 0 1em;
}
h1 {
    color: #7e57c2;
    font-size: 24px;
	font-weight: 700;
	margin-bottom: 3px;
}
h2 {
    font-size: 18px;
}
input[type="text"], input[type="email"], input[type="tel"] {
    font-size: 14px;
    font-family: FuturaPT;
    font-weight: 300;
    color: #535352;
    padding: 7px 14px;
    border: 2px solid #eee;
}
textarea {
    border: 2px solid #eeeeee;
}
select {
	border: 1px solid #111;
	background: transparent;
	padding: 0px 20px 0px 5px;
	border: none;
	font-size: 16px;
	font-family: FuturaPT;
	font-weight: 400;
	color: #7e57c2;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    background: url(../img/geo-arrow.png) 96% 55% / 8% no-repeat transparent;
    background-size: inherit;
	outline: none;
}
button {
    border: none;
    background-color: #7e57c2;
    padding: 11px 14px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-family: FuturaPT;
    text-align: center;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #eeeeee;
  background: #f8f8f8;
  border-radius: 4px;
  /* box-shadow: inset 0 1px 3px rgba(0,0,0,.1); */
}
[type="checkbox"]:checked + label:before {
    background: #7e57c2;
    border: 2px solid #7e57c2;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✓';
    position: absolute;
    top: .2em;
    left: 0.275em;
    font-size: 1.1em;
    font-weight: 100;
    line-height: 0.8;
    color: #fff;
    transition: all .2s;
    font-family: Helvetica, Arial, sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid #7e57c2!important;
}
/* hover style just for information */
label:hover:before {
  border: 2px solid #7e57c2!important;
}
.hr {
    display: block;
    background-color: #eee;
    width: 100%;
    height: 2px;
}
.wrapper{
	max-width:1200px;
	padding:0 15px;
	margin:0 auto;
}

/*Header*/
header {
    background-color: #f8f8f8;
    border-bottom: 2px solid #eeeeee;
}
.logo {
    display: inline-block;
    vertical-align:middle;
    height: 24px;
}
.top-menu {
	display:inline-block;
	list-style: none;
	margin:0 0 0 56px;
	vertical-align:middle;
	font-size:14px;
	font-weight:300;
}
.top-menu li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 13px;
	border-bottom: 2px solid transparent;
	margin-bottom: -2px;
}
.top-menu li.current,
.top-menu li:hover,
.top-menu li.active {
	border-bottom: 2px solid #7e57c2;
}
.top-menu li a{
	display: block;
	padding: 34px 0 22px;
	text-decoration: none;
	font-weight: 700;
	color: #7e57c2;
}
.geo {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 -10px 40px;
    padding-left: 17px;
    background: url(../img/geo-icon.png) no-repeat center left;
}
.geo select {
	border: 1px solid #111;
	background: transparent;
	padding: 0px 20px 0px 5px;
	border: none;
	font-size: 14px;
	font-family: FuturaPT;
	font-weight: 700;
	color: #7e57c2;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../img/geo-arrow.png) 96% 55% / 8% no-repeat transparent;
	outline: none;
}
/* CAUTION: IE hackery ahead */
select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}
.socials {
    display: block;
    margin-left: auto;
    margin-right: 0;
    float: right;
    margin-top: 27px;
}
.socials a {
    display: inline-block;
    width: 25px;
    height: 24px;
    margin: 0 6px;
    border-radius: 50%;
}
.socials a:hover {
	opacity: .7;
}
.socials a:first-child {
	margin-left: 0;
}
.socials a:last-child {
	margin-right: 0;
}
.social-vk {
	background: url(../img/vk-icon.svg) no-repeat center center;
	background-size: cover;
}
.social-fb {
	background: url(../img/fb-icon.svg) no-repeat center center;
	background-size: cover;
}
.social-ok {
	background: url(../img/ok-icon.svg) no-repeat center center;
	background-size: cover;
}
.social-tw {
	background: url(../img/tw-icon.svg) no-repeat center center;
	background-size: cover;
}
.social-vb {
	background: url(../img/vb-icon.svg) no-repeat center center;
	background-size: cover;
}
.social-wt {
	background: url(../img/wt-icon.svg) no-repeat center center;
	background-size: cover;
}
.social-tg {
	background: url(../img/tg-icon.svg) no-repeat center center;
	background-size: cover;
}

/*Breadcrumbs*/
.breadcrumbs {
	font-weight: 100;
	font-size: 12px;
	padding-top: 18px;
	padding-bottom: 14px;
}
.breadcrumbs i {
    margin: 0 8px;
}
.breadcrumbs a {
    color: #7e57c2;
    text-decoration: none;
}


.container-content {
    flex-basis: 100%;
}
/* Product */

.map-search {
    border: none;
    background-color: #7e57c2;
    padding: 11px 32px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-family: FuturaPT;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    line-height: 1.1;
	margin-right: 29px;
	flex-basis: 29%;
	align-self: normal;
}
.search-container {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    align-items: center;
}
.search-content {
    display: flex;
    flex-basis: 100%;
    align-items: center;
}
.search-content input {
    padding: 9px 14px 9px 39px;
    display: inline-block;
	flex-basis: 100%;
	outline: none;
	background: url(../img/search-icon.png) no-repeat 13px center;
}
.search-content button {
    padding: 10px 68px;
    line-height: 1.3;
    font-size: 16px;
	margin-left: -1px;
	flex-basis: 34%;
}

/* Product */
.post-content {
    display: flex;
	flex-basis: 100%;
    margin-top: 30px;
    font-weight: 100;
    align-items: flex-start;
}
.post-content ul {
    color: #9e9e9e;
}
ul.etabs {
    border-bottom: 2px solid #eeeeee;
    list-style: none;
    margin-top: 25px;
}
ul.etabs li {
    display: inline-block;
}
ul.etabs li a {
    font-size: 12px;
    text-transform: uppercase;
    color: #535352;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding: 11px 27px;
    background-color: #fff;
}
ul.etabs li.active a {
    background-color: #7e57c2;
    color: #fefefe;
}
.product-slider {
    max-width: 570px;
}
.product-slider .slick-arrow {
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 29px;
    /* height: 100%; */
    width: 70px;
	font-size: 0;
	cursor: pointer;
	transition: opacity .2s;
	outline: none;
	background-color: transparent;
}
.product-slider .slick-arrow:hover {
	opacity: .7;
	transition: opacity .2s;
}
.product-slider .slick-prev {
	left: 0;
	background-image: url(../img/slider-arrow-prev.png);
    background-repeat: no-repeat;
    background-position: center;
}
.product-slider .slick-prev::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	bottom: 0;
	background-color: #fff;
    opacity: .5;
}
.product-slider .slick-next {
	right: 0;
	background-image: url(../img/slider-arrow-next.png);
	background-repeat: no-repeat;
	background-position: center;
}
.product-slider .slick-next::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
	bottom: 0;
	background-color: #fff;
    opacity: .5;
}
.product-slider .slick-dots {
    list-style: none;
    margin: 5px auto 0;
    text-align: center;
}
.product-slider .slick-dots li {
    display: inline-block;
}
.product-slider .slick-dots li button {
    font-size: 0;
    padding: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 2.5px;
    outline: none;
    background-color: #eee;
}
.product-slider .slick-dots li.slick-active button {
	background-color:  #7e57c2;
}
.product-base {
    flex-basis: 100%;
}
.product-right {
    width: 270px;
    min-width: 270px;
    margin-left: 30px;
    border: 2px solid #eeeeee;
}
.product-info {
    padding: 20px;
}
.rate__empty {
	background: url(../img/rate-empty.png) no-repeat center;
}
.rate__full {
	background: url(../img/rate-full.png) no-repeat center;
}
.product-price {
    color: #7e57c2;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.product-price span {
    font-size: 18px;
}
.product-sale {
    background-color: #bfff75;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding: 9.5px 0px;
    margin: 13px 0;
}
.product-company {
    padding: 13px 0;
    text-align: center;
}
.product-company a {
    color: #7e57c2;
    font-weight: 700;
    font-size: 14px;
}
.product-review-rate {
	text-align: center;
	padding: 5px 0;
}
.product-review-rate a {
	margin-left: 10px;
	color:  #9e9e9e;
	font-weight: 300;
}
.rate {
    display: inline-block;
}
.rate span {
    width: 15px;
    height: 15px;
    display: inline-block;
}
.product-buy {
    width: 100%;
    margin: 19px 0;
}
.product-data {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted #7e57c2;
    padding-top: 10px;
    margin-bottom: 17px;
}
.product-data span {
	color: #7e57c2;
	font-weight: 700;
	font-size: 14px;
    line-height: 1;
    background-color: #fff;
    padding-bottom: 4px;
    margin-bottom: -4px;
}
.product-favorites {
    padding: 10px 0;
}
.product-favorites a {
    text-decoration: none;
    color: #535352;
    padding: 11px 0;
    display: block;
    border: 2px solid #eeeeee;
    line-height: 1;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
.product-favorites span {
    background: url(../img/heart-off-icon.png) no-repeat center;
    width: 15px;
    height: 12px;
	display: inline-block;
    margin-right: 9px;
    vertical-align: bottom;
}
.product-finish {
    color: #7e57c2;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 20px 0 0 0;
}
.product-finish span {
	font-weight: 700;
}
.product-rate {
    text-align: center;
    background-color: #f8f8f8;
    padding: 7px 0;
}
.product-rate-score {
    color: #7e57c2;
    font-size: 24px;
    font-weight: 700;
}
.product-geo {
    display: inline-block;
    vertical-align: middle;
    padding-left: 17px;
    background: url(../img/geo-icon.png) no-repeat center left;
}
.product-geo a {
    color: #7e57c2;
    font-size: 14px;
    font-weight: 300;
}
.item-service p {
    margin: 0;
    font-size: 14px;
}
.item-service {
    margin-bottom: 20px;
}
.product-map {
    margin-bottom: -7px;
}
.product-address {
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 12px;
}
.product-address .product-geo {
    flex-basis: 50%;
}
.product-address .product-company-info {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
}
.product-address .product-geo a {
    font-size: 12px;
}
.review-form {
    background-color: #f8f8f8;
    padding: 30px;
}
.review-form h2 {
    margin: 0;
}
.review-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 16px;
}
.review-form input {
    width: 100%;
}
.review-form textarea {
    width: 100%;
    height: 150px;
}
.review-form button {
    margin-top: 24px;
    text-transform: none;
}

/* Taxonomy */
.taxonomy-content {
    margin-top: 30px;
}
.taxonomy-content h1 {
    font-size: 20px;
    margin-top: 3px;
}
.taxonomy-content h1::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #7e57c2;
}
.sort {
    margin-top: 20px;
    margin-bottom: 10px;
}
.sort > div {
    display: inline-block;
    margin-left: 50px;
}
form.sort > div > label {
    margin-right: 25px;
}
.sort label {
    font-weight: 400;
}
.taxonomy-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sale .products__item,
.installment .products__item,
.discount .products__item {
    flex-grow: 1;
    max-width: 270px;
    margin: 30px 0 0;
    border: 2px solid #fff;
    background: #fff;
    position: relative;
}
.installment .products__item {
    height: 400px;
    overflow: hidden;
}
.sale .products__item {
    padding: 20px;
}
.sale .products__img {
    text-align: center;
}
.discount .products__img {
    height: 158px;
    overflow: hidden;
    text-align: center;
}
.discount .products__img img {
    width: 100%;
}
.sale .products__img img {
    width: auto;
    height: 220px;
}
.sale .products__sale,
.discount .products__sale {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
}
.sale .products__sale span,
.discount .products__sale span {
    transform: rotate(-45deg);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 52px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.products__sale.green {
    background: url(../img/green-sale.png) no-repeat center -63px;
}
.products__sale.fillet {
    background: url(../img/fillet-sale.png) no-repeat center -63px;
}
.installment .products__termin {
    position: absolute;
    top: 52px;
    left: -53px;
    z-index: 101;
}
.installment .products__termin span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    display: block;
    width: 135px;
    padding: 4.5px 0;
    text-align: center;
    transform: rotate(90deg);
}
.installment .products__termin.green span {
    background-color: #bfff75;
}
.installment .products__termin.fillet span {
    background-color: #7e57c2;
}
.installment .products__title {
    position: absolute;
    bottom: 0;
    padding: 15px 18px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    z-index: 100;
}
.sale .products__title,
.discount .products__title {
    color: #7e57c2;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
}
.discount .products__title {
    padding: 0 15px;
    margin-top: 14px;
    height: 42px;
}
.sale .products__title {
    height: 22px;
    margin-top: 23px;
}
.discount .products__descr {
    color: #9e9e9e;
    font-size: 14px;
    padding: 0 15px;
    font-weight: 100;
    overflow: hidden;
    height: 105px;
    margin: 9px 0;
}
.sale .products__price {
    color: #7e57c2;
    font-size: 18px;
    font-weight: 700;
    margin-top: 8px;
}
.sale .products__old-price {
    color: #9e9e9e;
    font-size: 14px;
    font-weight: 300;
    margin-top: 2px;
    text-decoration: line-through;
}
a.link-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
}
.sale a.link-overlay,
.discount a.link-overlay {
    border: 2px solid #eee;
}
.installment a.link-overlay {
    border: none;
    background-color: #000;
    opacity: .15;
    z-index: 99;
}
.installment a.link-overlay:hover {
    opacity: .3;
    z-index: 101;
}
.sale a.link-overlay:hover,
.discount a.link-overlay:hover {
    border-color: transparent;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.discount .products__date {
    color: #7e57c2;
    font-size: 12px;
    font-weight: 700;
    padding: 0 15px 0 39px;
    margin: 9px 0;
    background: url(../img/calendar-icon.png) no-repeat 15px 0;
}
.discount .products__get-sales {
    text-align: center;
}
.discount .products__get-sales a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    background-color: #7e57c2;
    display: block;
    text-decoration: none;
    padding: 8px 0;
    position: relative;
    z-index: 101;
}
.discount .products__get-sales a:hover {
    background-color: #bfff75;
}
.pagination a {
    color: #7e57c2;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
.pagination {
    text-align: center;
    padding: 30px 0 10px 0;
}
.products__subinfo {
    padding: 9px 15px;
}
span.comments, span.likes {
    padding-left: 18px;
    color: #9e9e9e;
    font-size: 14px;
    font-weight: 300;
    margin-right: 20px;
}
span.comments {
    background: url(../img/comments-icon.png) no-repeat 0 center;
}
span.likes {
    background: url(../img/likes-icon.png) no-repeat 0 center;
}
.taxonomy-products.share {
    margin-top: 30px;
}
.taxonomy-products.masonry {
    display: block;
}
.masonry { /* Masonry container */
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    -moz-column-fill: initial;
    -webkit-column-fill: initial;
    column-fill: initial;
}
.masonry .products__item { /* Masonry bricks or child elements */
    margin-bottom: 30px;
    position: relative;
}
.products__item.share .products__title {
    position: absolute;
    padding: 0 15px;
    right: 0;
    left: 0;
    width: 100%;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
}
.products__item.share.bottom .products__title {
    bottom: 15px;
}
.products__item.share.top .products__title {
    top: 15px;
    width: 168px;
}
.products__item.share.large .products__title {
    bottom: 160px;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.products__item.share .products__img {
    display: flex;
}
.products__item.share .products__img img {
    width: 100%;
    height: auto;
}
.products__item.share .products__up-title {
    position: absolute;
    top: 40px;
    padding: 10px;
    color: #fff;
    font-size: 44px;
    font-weight: 700;
}
.products__item.share .products__price {
    position: absolute;
    top: 28%;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    padding: 0 11px;
}
.products__item.share .products__old-price {
    position: absolute;
    top: 46%;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 0 15px;
    text-decoration: line-through;
}
.products__item.share .products__subinfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.products__item.share .products__subinfo span {
    color: #fff;
    font-weight: 400;
}
.products__item.share span.comments {
    background: url(../img/comments-icon-wt.png) no-repeat 0 center;
}
.products__item.share span.likes {
    background: url(../img/likes-icon-wt.png) no-repeat 0 center;
}
.products__item.share span.views {
    background: url(../img/views-icon-wt.png) no-repeat 0 center;
}
.products__item.share span.views {
    float: right;
    font-size: 14px;
    padding-left: 27px;
    background: url(../img/views-icon-wt.png) no-repeat 0 center;
}

/*Side bar*/
.aside-wrapper {
    display: flex;
    align-items: flex-start;
    padding-top: 18px;
    padding-bottom: 30px;
}
aside {
    width: 270px;
    flex: 0 0 auto;
    margin-right: 30px;
}
.aside-item {
	margin-bottom: 30px;
}
.aside-title {
	background-color: #7e57c2;
	margin: 0;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	padding: 12px 23px;
	text-align: center;
}
.catalog-aside .aside-title {
	padding: 12px 34px 12px 50px;
	background: #7e57c2 url(../img/catalog-icon.svg) no-repeat 20px center;
	text-align: left;
}
.currency-aside .aside-title {
	background: #7e57c2 url(../img/currency-icon.svg) no-repeat 30px center;
	padding-left: 50px;
}
.catalog-aside .aside-title a {
    display: inline-block;
    float: right;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
}
.aside-body {
	border-left: 2px solid #eee;
	border-right: 2px solid #eee;
	border-bottom: 2px solid #eee;
	padding: 16px 19px;
}
.aside-body.selected {
	border: 2px solid #7e57c2;
}
.catalog-aside .aside-body {
	padding: 21px 28px;
}
.catalog-aside ul {
	margin: 0;
	list-style: none;
}
.catalog-aside ul a {
	color: #535352;
	font-size: 14px;
	display: block;
	padding: 7px 0;
	text-decoration: none;
}
.catalog-aside ul li.current a,
.catalog-aside ul a:hover {
	color: #7e57c2;
}
.catalog-aside ul a > span {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 28px;
    margin-right: 30px;
    text-align: center;
}
.catalog-aside ul a > span img {
	vertical-align: middle;
}
.currency-aside .aside-body{

}
.currency-item {
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
}
.currency-item span {
    width: 33%;
    color: #7e57c2;
    font-size: 14px;
    font-weight: 700;
}
.currency-item span.negative {
	font-weight: 300;
	color: #ff4845;
}
.currency-item span.positive {
	font-weight: 300;
	color: #bfff75;
}
.aside-form h3 {
    margin: 0;
    margin-bottom: 5px;
    line-height: 20px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #7e57c2;
}
form.aside-form input {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
form.aside-form button {
    margin-top: 18px;
    width: 100%;
}

/*Footer*/
footer {
    background-color: #7e57c2;
}
.bottom-menu {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin-top: 26px;
    margin-bottom: 10px;
}
.bottom-menu li {
    display: inline-block;
    margin: 0 10px;
}
.bottom-menu li:first-child {
	margin-left: 0;
}
.bottom-menu li:last-child {
	margin-right: 0;
}
.bottom-menu li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	font-weight: 700;
}
.copyright {
    font-size: 12px;
    color: #fff;
    font-weight: 100;
    margin-bottom: 12px;
}